<h1> Group by and Aggregating</h1>

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\dell\Downloads\vgsales.csv")
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [14]:
group_by = df.groupby('Genre')                                                           
                      
                      
                      
  
print(group_by)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002D5D9D8FD70>

In [42]:
df.groupby('Genre')['Global_Sales'].sum()

Genre
Action          1751.18
Adventure        239.04
Fighting         448.91
Misc             809.96
Platform         831.37
Puzzle           244.95
Racing           732.04
Role-Playing     927.37
Shooter         1037.37
Simulation       392.20
Sports          1330.93
Strategy         175.12
Name: Global_Sales, dtype: float64

In [44]:
df.groupby('Genre')['Global_Sales'].max()

Genre
Action          21.40
Adventure       11.18
Fighting        13.04
Misc            29.02
Platform        40.24
Puzzle          30.26
Racing          35.82
Role-Playing    31.37
Shooter         28.31
Simulation      24.76
Sports          82.74
Strategy         5.45
Name: Global_Sales, dtype: float64

In [46]:
df.groupby('Genre')['Global_Sales'].count()

Genre
Action          3316
Adventure       1286
Fighting         848
Misc            1739
Platform         886
Puzzle           582
Racing          1249
Role-Playing    1488
Shooter         1310
Simulation       867
Sports          2346
Strategy         681
Name: Global_Sales, dtype: int64

In [48]:
df.groupby('Genre').agg({'Global_Sales':['mean','max','count','sum']})

             Global_Sales
                     mean    max count      sum
Genre
Action           0.528100  21.40  3316  1751.18
Adventure        0.185879  11.18  1286   239.04
Fighting         0.529375  13.04   848   448.91
Misc             0.465762  29.02  1739   809.96
Platform         0.938341  40.24   886   831.37
Puzzle           0.420876  30.26   582   244.95
Racing           0.586101  35.82  1249   732.04
Role-Playing     0.623233  31.37  1488   927.37
Shooter          0.791885  28.31  1310  1037.37
Simulation       0.452364  24.76   867   392.20
Sports           0.567319  82.74  2346  1330.93
Strategy         0.257151   5.45   681   175.12

In [50]:
df.groupby('Genre').agg({'Global_Sales':['mean','max','count','sum'],'JP_Sales':['mean','max','count','sum']})

             Global_Sales                        JP_Sales
                     mean    max count      sum      mean    max count     sum
Genre
Action           0.528100  21.40  3316  1751.18  0.048236   3.96  3316  159.95
Adventure        0.185879  11.18  1286   239.04  0.040490   2.69  1286   52.07
Fighting         0.529375  13.04   848   448.91  0.103007   2.87   848   87.35
Misc             0.465762  29.02  1739   809.96  0.061967   4.16  1739  107.76
Platform         0.938341  40.24   886   831.37  0.147596   6.81   886  130.77
Puzzle           0.420876  30.26   582   244.95  0.098471   5.32   582   57.31
Racing           0.586101  35.82  1249   732.04  0.045388   4.13  1249   56.69
Role-Playing     0.623233  31.37  1488   927.37  0.236767  10.22  1488  352.31
Shooter          0.791885  28.31  1310  1037.37  0.029221   1.44  1310   38.28
Simulation       0.452364  24.76   867   392.20  0.073472   5.33   867   63.70
Sports           0.567319  82.74  2346  1330.93  0.057702   3.77  2346  135.37
Strategy         0.257151   5.45   681   175.12  0.072628   1.61   681   49.46

In [54]:
df.groupby('Genre').describe()

                Rank                                                      \
               count          mean          std    min      25%      50%
Genre
Action        3316.0   7973.879071  4712.089630   17.0  4009.00   7759.0
Adventure     1286.0  11532.787714  4265.670383   51.0  8621.00  12766.0
Fighting       848.0   7646.511792  4591.137146   40.0  3651.50   7483.0
Misc          1739.0   8561.847039  4581.494438    8.0  4764.00   8624.0
Platform       886.0   6927.251693  4785.870483    2.0  2603.75   6233.0
Puzzle         582.0   9627.381443  4731.690034    6.0  5821.50  10342.0
Racing        1249.0   7961.515612  4762.706333    3.0  3795.00   7811.0
Role-Playing  1488.0   8086.174731  4769.417886    5.0  3821.50   8002.5
Shooter       1310.0   7369.367939  4973.770702   10.0  2812.25   7069.5
Simulation     867.0   8626.085352  4771.312900   11.0  4616.00   8681.0
Sports        2346.0   7425.026428  4444.167960    1.0  3613.50   7186.5
Strategy       681.0  10071.897210  4473.804280  166.0  6329.00  10841.0

                                   Year               ... Other_Sales         \
                   75%      max   count         mean  ...         75%    max
Genre                                                 ...
Action        12049.50  16592.0  3253.0  2007.909929  ...        0.05  10.57
Adventure     15123.75  16594.0  1276.0  2008.130878  ...        0.01   0.83
Fighting      11475.75  16566.0   836.0  2004.630383  ...        0.04   1.41
Misc          12345.50  16545.0  1710.0  2007.258480  ...        0.03   2.85
Platform      10942.75  16600.0   876.0  2003.820776  ...        0.05   2.90
Puzzle        13588.25  16599.0   571.0  2005.243433  ...        0.01   1.18
Racing        11915.00  16598.0  1226.0  2004.840131  ...        0.05   7.53
Role-Playing  12201.00  16593.0  1471.0  2007.055744  ...        0.03   1.74
Shooter       11687.75  16597.0  1282.0  2005.918877  ...        0.07   2.52
Simulation    12833.00  16595.0   851.0  2006.567568  ...        0.03   2.75
Sports        10908.00  16590.0  2304.0  2005.477865  ...        0.04   8.46
Strategy      14020.00  16569.0   671.0  2005.599106  ...        0.01   0.59

             Global_Sales                                                 \
                    count      mean       std   min   25%    50%     75%
Genre
Action             3316.0  0.528100  1.156427  0.01  0.07  0.190  0.5000
Adventure          1286.0  0.185879  0.513280  0.01  0.02  0.060  0.1600
Fighting            848.0  0.529375  0.955965  0.01  0.08  0.210  0.5500
Misc               1739.0  0.465762  1.314886  0.01  0.06  0.160  0.4100
Platform            886.0  0.938341  2.585254  0.01  0.09  0.280  0.7900
Puzzle              582.0  0.420876  1.561716  0.01  0.04  0.110  0.3075
Racing             1249.0  0.586101  1.662437  0.01  0.07  0.190  0.5300
Role-Playing       1488.0  0.623233  1.707909  0.01  0.07  0.185  0.5225
Shooter            1310.0  0.791885  1.817263  0.01  0.08  0.230  0.7275
Simulation          867.0  0.452364  1.195255  0.01  0.05  0.160  0.4200
Sports             2346.0  0.567319  2.089716  0.01  0.09  0.220  0.5600
Strategy            681.0  0.257151  0.520908  0.01  0.04  0.090  0.2700


                max
Genre
Action        21.40
Adventure     11.18
Fighting      13.04
Misc          29.02
Platform      40.24
Puzzle        30.26
Racing        35.82
Role-Playing  31.37
Shooter       28.31
Simulation    24.76
Sports        82.74
Strategy       5.45

[12 rows x 56 columns]